---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Card from "../components/Card.astro"
import logo_dlv from "../images/logo_dlv.png"
import logo_lvbrandenburg from "../images/logo_lvbrandenburg.png"
import Maskottchen from "../images/Maskottchen.webp"
import Laufen from "../images/Laufen.webp"
import Werfen from "../images/Werfen.webp"
import Springen from "../images/Springen.webp"
import Huerden from "../images/Huerden.jpg"
---

<Layout title="LAT-Petershagen">
    <header>
        <div>
            <Image
                src={Huerden}
                width={1900}
                height={600}
                quality={80}
                format="webp"
                alt=""
              />	
        </div>
        <div class="flex items-center justify-center text-4xl h-24 bg-orange-500 text-white font-bold">
            <h1 class="text-4xl">Leichtathletikteam - Petershagen e.V. -------</h1>
        </div>
    </header>
    <div class="flex justify-center pt-28">
        <div>
            <Image
                src={Maskottchen}
                width={300}
                height={0}
                quality={80}
                format="webp"
                alt=""
              />
        </div>
    </div>
    <div class="text-center py-8">
        <p>
            Unser Verein wurde im Sommer 2019 gegründet. <br>
            Stöbern Sie auf unserer Seite und werden Sie neugierig, uns persönlich kennen zu lernen. <br>
            Wir sind offen für neue Mitstreiter jeden Alters. <br>
            Gemeinsam wollen wir mit viel Spaß und Begeisterung unseren Mitgliedern die Faszination der Leichtathletik vermitteln. <br>
            Hürden sind für uns keine Hindernisse, sondern Herausforderungen auf dem Weg zum Ziel. <br>
        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-24 md:gap-8 justify-center mx-4 md:mx-12 my-28">

        <Card>
            <span slot="title">Laufen</span>
            <div class="flex justify-center flex-col pt-4">
                <div class="flex justify-center pb-4">
                    <Image
                    src={Laufen}
                    width={0}
                    height={300}
                    quality={80}
                    format="webp"
                    alt=""
                  />
                </div>
                <p>
                    Ob schnell oder langsam, ganz kurz oder sehr lange... 
                    bei uns findet jeder seine Strecke und sein Tempo, 
                    vom 30m Sprint bis zum Marathon.
                </p> 
            </div>
        </Card>

        <Card>
            <span slot="title">Springen</span>
            <div class="flex justify-center flex-col pt-4">
                <div class="flex justify-center pb-4">
                    <Image
                    src={Springen}
                    width={0}
                    height={300}
                    quality={80}
                    format="webp"
                    alt=""
                  />
                </div>
                <p>
                    Beim Springen in die Weite oder Höhe erobern wir neue Horizonte, 
                    versuchen zu fliegen und landen dennoch 
                    sicher in der Sandgrube oder auf der Matte.
                </p> 
            </div>
        </Card>

        <Card>
            <span slot="title">Werfen</span>
            <div class="flex justify-center flex-col pt-4">
                <div class="flex justify-center pb-4">
                    <Image
                    src={Werfen}
                    width={0}
                    height={300}
                    quality={80}
                    format="webp"
                    alt=""
                  />
                </div>
                <p>
                    Ob Ball, Kugel, Speer oder Diskus... 
                    Wurfdisziplinen gehören zur Vielfalt der 
                    Leichtathletik wie das Salz in der Suppe.

                </p> 
            </div>
        </Card>

    </div>
    <div class="flex flex-row justify-center items-center gap-60 bg-slate-400 py-12">
        <div>
            <Image
                src={logo_lvbrandenburg}
                width={500}
                height={0}
                quality={80}
                format="webp"
                alt=""
              />	
        </div>
        <div>
            <Image
                src={logo_dlv}
                width={300}
                height={0}
                quality={80}
                format="webp"
                alt=""
              />	
        </div>
    </div>
</Layout>

